body{
	background: green;
}
h1{
	font-size: 120px;
	font-family: sans-serif;

	text-align: center;
	text-transform: lowercase;
	text-shadow: 0 1px 0 white;

	margin-top: 50px;
	color: black;
	letter-spacing: -5px;

}